<<<<<<< HEAD
<%- include('_header'); -%>
<head>
    <meta http-equiv="refresh" content="4; URL = https://itcodefairjudge.spinetail.cdu.edu.au/" />
</head>
<body>
    <center>
        <h1>
            Dear <%= info.name %>,<br>You have been registered with <%= info.num %>.<br>
            You are now being redirected to projects directory.....
        
        
        </h1>
    </center>
</body>
=======
<%- include('_header'); -%>
<body>
    <center>
        <h1>
            Dear <%= info.name %>,<br>You have been registered with <%= info.num %>.<br>
            You may now proceed to vote for the right project.
        
        
        </h1>
    </center>
</body>
>>>>>>> df7f9f9ed2231ae39ea684d1551ae673f527f383
<%- include ('_footer'); -%>